:root {
  --color-dark: #191921;
  --color-blue: #4984CC;
  --color-green: #49CC91;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-dark);
}

section {
  padding: 80px 20px;
}

